body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* styles for each quarter of page*/

.one-quarter{
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 46, 68);
    color: white;
    align-items: center;
    
}

.two-quarter{
    display: flex;
    flex-direction: column;
    background-color: rgba(34, 34, 34, 0.877);
    color: white;
    padding: 50px;
    gap: 64px;
    border-top: 12px solid black;
   
}

.three-quarter{
    display: flex;
    flex-direction: row;
    background-color: #7c6b0d79;
    color: black;
    padding: 100px;
    justify-content: center;
  
    border-bottom: 12px solid black;
}

.four-quarter{
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 46, 68);
    color: white;
    justify-content: center;
    padding: 50px
}

/*end of styles for each quarter of page*/

.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: 700;
    font-size: 34px;
    gap: 1200px;
    padding: 24px;
    
    
}

.header-links{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 200;
    gap: 16px;
    
}

.first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 50px;
    gap: 144px;
}

.first-container img{
    width: 750px;
    height: 300px;
    border: 1px solid white;

}

.left{
    display: flex;
    flex-direction: column;
    max-width: 425px;
}

.subtitle{
    font-size: 48px;
    font-weight: 1000;
}

.subtext{
    font-size: 18px;
}

.sequential{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    
}

.images{
    display: flex;
    justify-content: center;
    gap: 108px;
    
}

.images img{
    width: 350px;
    height: auto;
    border: 1px solid white;
}


.quote-by{
    margin-left: 800px;
    font-size: 21px;
    font-weight: 700;
}

.shop{
    display: flex;
    align-items: flex-end;
}

.pic{
    max-width: 300px;
    text-align: center;
    font-size: 20px;
    
}

.images p{
    margin-left: 32px;
}

.quote{
    font-style: italic;
    font-size: 42px;
    
}
.block{
    max-width: 1000px;
}

.box{
    display: flex;
    gap: 100px;
    background-color: rgb(117, 136, 168);
    padding: 20px 100px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid white;
    
}

.persuade{
    margin-bottom: 5px;
}

.shops{
    background-color: #3b8cd8;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.shops:hover{
    background-color: #aeddecce;
}